modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NextJS Dev Server"

[[workflows.workflow]]
name = "NextJS Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9002
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://wwmizwjumyfxmrbqcoms.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3bWl6d2p1bXlmeG1yYnFjb21zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4OTIyNTEsImV4cCI6MjA3NDQ2ODI1MX0.vwkhWV-S4j6fcoKJexaCmWoKW1ZSiXj2yqLSGGXKuGc"
